<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>Form Patients</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-2">
    <div class="card">
      <div class="card-header">Modifier un patient</div>
      <div class="card-body">
        <form method="post" th:action="@{save(page=${page},keyword=${keyword})}">
          <div class="m-3">
            <label>ID : </label>
            <label th:text="${patient.id}"></label>
            <input class="form-control" type="hidden" name="id" th:value="${patient.id}">
          </div>
          <div class="m-3">
            <label for="nom">Nom</label>
            <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}">
            <span class="text-danger" th:errors="${patient.nom}"></span>
          </div>
          <div class="m-3">
            <label for="dateNaissance">Date de naissance</label>
            <input id="dateNaissance" class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
            <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
          </div>
          <div class="m-3">
            <label for="malade">Malade</label>
            <input id="malade" type="checkbox" name="malade" th:checked="${patient.malade}">
            <span class="text-danger" th:errors="${patient.malade}"></span>
          </div>
          <div class="m-3">
            <label for="score">Score</label>
            <input id="score" class="form-control" type="text"  name="score" th:value="${patient.score}">
            <span class="text-danger" th:errors="${patient.score}"></span>
          </div>
          <button type="submit" class="btn btn-primary m-3">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>